[submodule "Sub-Test"]
	path = Sub-Test
	url = https://github.com/appkevin/Sub-Test/
	
	
[submodule "Sub-Test-2"]
	path = Sub-Test-2
	url = https://github.com/appkevin/Sub-Test-2.git
[submodule "Sub-Test-3"]
	path = Sub-Test-3
	url = https://github.com/appkevin/Sub-Test-3.git
